extends layout

block content
    h1 New Book

    form(action="/books/", method="post")
      include errors
      
      p
        label(for='title') Title
        input#title(name='title', type='text', value=book.title, autofocus)
      p
        label(for='author') Author
        input#author(name='author', type='text', value=book.author)
      p
        label(for='genre') Genre
        input#genre(name='genre', type='text', value=book.genre)
      p
        label(for='year') Year
        input#year(name='year', type='text', value=book.year) 
      p
      div.buttons-container
        input(type='submit', value='Create New Book')
        a.button(href='/books/') Back