extends layout

block content
    h1 New Book
    form(action="/books/", method="post")
      p
        label(for='title') Title
        input#title(name='title', type='text' value='')
      p
        label(for='author') Author
        input#author(name='author', type='text' value='')
      p
        label(for='genre') Genre
        input#genre(name='genre', type='text' value='')
      p
        label(for='year') Year
        input#year(name='year', type='text' value='') 
      p
        input(type='submit', value='Create New Book')
      p
        a.button(href='/books/') Cancel