extends layout

block content
    h1
        | Error Status:
        strong= ' ' + err.status
        |  - Page Not Found
    p
        | Sorry! 
        | #{err.message || 'The page you were looking for does not exist.'}
    br
    p
      a.button(href='/books/') Home