extends layout

block content
    h1 View / Update Book
    form(method='post', action='/books/' +book.id)
      p
        label(for='title') Title
        input#title(name='title', type='text', value=book.title)
      p
        label(for='author') Author
        input#author(name='author', type='text', value=book.author)
      p
        label(for='genre') Genre
        input#genre(name='genre', type='text', value=book.genre)
      p
        label(for='year') Year
        input#year(name='year', type='text', value=book.year)
      div.buttons-container
        input(type='submit', value='Update Book')
        form(method='post', action='/books/:id/delete', onsubmit="return confirm('Do you really want to delete this book?');", style="display: inline;")
          input(type='submit', value='Delete Book')
        a.button(href='/books/') Back





