extends layout

block content
    h1 View / Update Book

    form(method='post', action='/books/' +book.id)
      include errors
      p
        label(for='title') Title
        input#title(name='title', type='text', value=book.title)
      p
        label(for='author') Author
        input#author(name='author', type='text', value=book.author)
      p
        label(for='genre') Genre
        input#genre(name='genre', type='text', value=book.genre)
      p
        label(for='year') Year
        input#year(name='year', type='text', value=book.year)
      p.buttons-container
        input(type='submit', value='Update Book')
      
    form(method='post', action='/books/' + book.id + '/delete' , onSubmit='return confirm("This action is permanent. Are you sure you want to delete this book?")')
      p.buttons-container
        input(type='submit', value='Delete Book')
        a.button(href='/books/') Back





